@model List<Hospital.Server.Models.TrialViewModel>

@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="search" id="search" class="form-control" placeholder="Search clinical trial">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </div>

        <div class="col-lg-6">
            <a href="@Url.Action("AddTrial", "Administration")" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Trial</a>
        </div>
    </div>
    </br>
    <div style="height: 800px; overflow: auto">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <td>Is Available</td>
                    <th>Speciality</th>
                    <th>Price</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trial in Model)
                {
                    <tr>
                        <td>@trial.Title</td>
                        <td>@trial.IsAvailable</td>
                        <td>@trial.SpecialityTitle</td>
                        <td>@trial.Price</td>
                        <td><a href="@Url.Action("DeleteTrial", "Administration", new { id = trial.Id })" class="fa fa-times"></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
